
  @import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,700;1,500&display=swap');

body{
  background-image: url('img/background-account.webp');
}
  h1{
    font-size: 100px;
  }

  .titulo-sub{
    display: flex;
    opacity: 0.7;
    justify-content: center;
    font-family: 'Mulish', sans-serif;
    margin-top: 5%;
    color: #ffffff;
  }

  .formulario{
    width: 400px;
height: 350px;
background: white;
border-radius: 10px;
shape-margin: 10px;
  }

  .data{
    width: 400px;
    height: 400px;
    background: white;
    border-radius: 10px;
    shape-margin: 10px;
  }

  .titulo{
    display: flex;
    justify-content: center;
    font-family: 'Mulish', sans-serif;
    margin-top: 5%;
    color: #ffffff;
    opacity: 0.8;
  }
  .titulo h1 {
    font-size: 70px;
  }
  .sub{
    display: flex;
    justify-content: center;
    font-family: 'Mulish', sans-serif;
    color: #333333;
  }

  .sub-account{
    display: flex;
    justify-content: center;
    font-family: 'Mulish', sans-serif;
    color: #8FBC8B;
  }

  .account{
    display: flex;
    justify-content: right;
    margin-top: 5%;
    margin-right: 5%;
  }


  input{
    border-radius: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    width: 420px;
    height: 35px;
    font-size: 18px;
    font-style: italic;;
  }

   #name-create{
    border-radius: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    width: 300px;
    height: 35px;
    font-size: 18px;
    font-style: italic;;
  }
  #email-create{
    border-radius: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    width: 300px;
    height: 35px;
    font-size: 18px;
    font-style: italic;;
  }
  #pasw-create{
    border-radius: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    width: 300px;
    height: 35px;
    font-size: 18px;
    font-style: italic;;
  }

  label{
    font-family: 'Mulish', sans-serif;
  }


  .btn-create{
    font-family: 'Mulish', sans-serif; 
    background: #8FBC8B;
    color: #ffffff;
    margin-top: 20px;
    font-size: 18px;
    text-decoration: none;
    border-radius: 10px;
  }

  .btn-search{
    font-family: 'Mulish', sans-serif; 
    background: #8FBC8B;
    color: #ffffff;
    margin-top: 20px;
    font-size: 18px;
    text-decoration: none;
    border-radius: 10px;
  }

  .btn-create :hover{
    font-family: 'Mulish', sans-serif; 
    background: #ffffff;
    color: #8FBC8B;
    margin-top: 20px;
    font-size: 18px;
    text-decoration: none;
    border-radius: 10px;
  }

  .create-account{
    font-family: 'Mulish', sans-serif; 
    background: #CD5C5C;
    color: #ffffff;
    margin-top: 20px;
    font-size: 18px;
    text-decoration: none;
    border-radius: 10px;
  }

  .modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    padding-top: 100px; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
  }
  
  
  .modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
  }
  
  
  .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }


  @media all and (min-width:813px)and (max-width: 1024px) {
    h1{
      font-size: 100px;
    }

    .titulo-sub{
      display: flex;
      justify-content: center;
      font-family: 'Mulish', sans-serif;
      margin-top: 10%;
      color: #5F9EA0;
    }



  }



  /*** Responsive Styles Tablet Only ***/
  @media all and (min-width: 768px)and (max-width: 812px) {
    h1{
      font-size: 60px;
    }

    .titulo-sub{
      display: flex;
      justify-content: center;
      font-family: 'Mulish', sans-serif;
      margin-top: 10%;
      color: #5F9EA0;
    }
    .sub{
      display: flex;
      font-size: 15px;
      justify-content: center;
      font-family: 'Mulish', sans-serif;
      color: #8FBC8B;
    }
    input{
      width: 300px;
      height: 35px;
      font-size: 18px;
    }
    .data {
      width: 300px;
      height: 400px;
      background: white;
      border-radius: 10px;
      shape-margin: 10px;
  }

  h2{
    font-size: 20px;
    margin-top: 5px;
  }
  .titulo h1 {
    font-size: 50px;
}
  }


  /*** Responsive Styles Smartphone Portrait ***/
  @media all and (max-width: 666px){
    h1{
      font-size: 60px;
    }

    .titulo-sub{
      display: flex;
      justify-content: center;
      font-family: 'Mulish', sans-serif;
      margin-top: 10%;
      color: #5F9EA0;
    }

    .sub{
      display: flex;
      font-size: 15px;
      justify-content: center;
      font-family: 'Mulish', sans-serif;
      color: #8FBC8B;
    }

    input{
      width: 300px;
      height: 35px;
      font-size: 18px;
    }
    .data {
      width: 300px;
      height: 400px;
      background: white;
      border-radius: 10px;
      shape-margin: 10px;
  }

  h2{
    font-size: 20px;
    margin-top: 5px;
  }
  .titulo h1 {
    font-size: 50px;
}

.formulario {
  width: 320px;
  height: 350px;
  background: white;
  border-radius: 10px;
  shape-margin: 10px;
}

#name-create{

  width: 250px;

}
#email-create{

  width: 250px;

}
#pasw-create{

  width: 250px;

}


  }
